/* globals.css */

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91; /* hex value of rgb(254,254,91) color is #FEFE5B */
    --font-texturina: 'Texturina', serif; /* Add Texturina font variable */
  }
}

/* Custom Utility Classes */
@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }
}

/* CSS animations */
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}

/* Swing animation for nav */
@keyframes swing {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

/* Apply swing animation to navigation */
.swing-animation {
  animation: swing 2s infinite ease-in-out;
}

/* Fade-in animation */
@keyframes fadeInFloat {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade-in animation for components */
.animate-fadeInFloat {
  animation: fadeInFloat 2s ease-out forwards;
}

/* Font styling */
.font-texturina {
  font-family: var(--font-texturina);
}

/* Ensure the body takes full height and no overflow */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Body styles to maintain layout structure */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden; /* Ensure no horizontal scrolling */
}

/* Example modal styles (uncomment and use when needed) */
#my-modal {
  /* Modal styles here */
}
